.idea
*.iml
.settings/
.metadata
.project
.classpath
target/
bin/
log/
*.log
test-output/
.DS_Store
.vscode
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
